<template>
  <div class="details flex flex-wrap w-full text-gray-400 font-medium text-sm md:text-lg md:my-10 item-row">
    <nav class="px-6  py-3 m-0 w-full border-b flex flex-wrap md:hidden">
      <div class="w-4/6 text-left cursor-pointer" @click="back()">
        <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
      </div>
      <div class="flex-1 text-right cursor-pointer" @click="favouriteContact()">
        <i class="fa" v-bind:class="{ 'fa-heart-o': !contact.favourite, 'fa-heart': contact.favourite}" aria-hidden="true"></i>
      </div>
      <div class="flex-1 text-right cursor-pointer" @click="editContact()">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </div>
    </nav>
    <div class="w-full flex text-lg my-5 mx-6 pb-5 border-b border-teal-300 items-center md:hidden">
      <div class="w-6/6 "> <img class="w-10 h-10 rounded-full mr-4 card-picture" :src="contact.picture"></div>
      <div class="w-4/6 text-center"> {{contact.fullName}}</div>
    </div>
    <div class="md:w-1/4 flex hidden md:flex">
      <img class="w-48 h-48 rounded-full mr-4 card-picture" :src="contact.picture">
    </div>
    <div class="w-full md:w-3/4 md:mt-6">
    <div class="w-full flex text-lg pb-5 border-b border-teal-300 mb-20 hidden md:flex items-center">
      <div class="flex px-2 cursor-pointer" @click="back()"> <i class="fa fa-long-arrow-left" aria-hidden="true"></i> </div>
      <div class="w-full px-2 text-left text-2xl"> {{contact.fullName}}</div>
      <div class="flex px-2 pr-6 text-center cursor-pointer" @click="favouriteContact()"> <i class="fa" v-bind:class="{ 'fa-heart-o': !contact.favourite, 'fa-heart': contact.favourite}" aria-hidden="true"></i> </div>
      <div class="flex px-2 pl-6 text-center cursor-pointer" @click="editContact()"> <i class="fa fa-pencil" aria-hidden="true"></i> </div>
    </div>
    <div class="w-full flex text-sm md:text-base flex-wrap px-12 pb-3">
      <div class="w-full md:w-1/2 text-teal-300 md:w-1/3 md:py-5 md:px-8">  <i class="fa fa-envelope pr-1" aria-hidden="true"></i> email </div>
      <div class="w-full md:w-1/2 text-left py-3 px-5 md:w-2/3 md:py-5 md:px-8 md:ml-auto"> {{contact.email}} </div>
    </div>
    <div class="w-full flex text-sm md:text-base flex-wrap px-12">
      <div class="w-full text-teal-300 md:w-1/3 md:py-5 md:px-8">  <i class="fa fa-phone pr-1" aria-hidden="true"></i> numbers </div>
      <div class="w-full text-left py-3 px-5 md:w-2/3 md:py-5 md:px-8 md:ml-auto" v-for="item in contact.numbers" v-bind:key="item.id"> {{item.name}} {{item.value}} </div>
    </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Details',
  data () {
    return {
    }
  },
  created () {
  },
  computed: {
    contact: {
      get () {
        return this.$store.getters.contact
      }
    }
  },
  methods: {
    back () {
      this.$router.push({ name: 'Home' })
    },
    editContact () {
      this.$store.dispatch('editingContact')
      this.$router.push({ name: 'Form' })
    },
    favouriteContact () {
      this.$store.dispatch('favouriteContact')
    }
  }
}
</script>
<style scoped>

</style>
