<template>
  <div>
    <div class="form flex flex-wrap w-full text-gray-400 placeholder-gray-200 font-medium text-sm md:text-lg md:my-10 item-row">
      <input type="file" ref="file" style="display: none"  accept="image/*" @change="uploadImage($event)" id="file-input">
      <nav class="px-6 py-3 m-0 w-full border-b flex flex-wrap md:hidden">
        <div class="w-4/6 text-left cursor-pointer" @click="back()">
          <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
        </div>
        <div class="flex-1 text-right cursor-pointer" @click="deleteContact()">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </div>
      </nav>
      <div class="w-full flex text-lg my-5 mx-6 pb-5 border-b border-teal-200 items-center md:hidden">
        <div class="w-full">
          <div class="rounded-full m-auto card-picture-small profile-overlay-small flex flex-wrap items-center text-center" :class="{ 'bg-teal-100': (addingNew && !picture) || imagePathError}" @click="$refs.file.click()">
             <img v-if="picture" class="rounded-full m-auto profile-pic-small" :src="picture" @error="imageError()"/>
             <span v-if="picture && !imagePathError" class="m-auto text-xl text-gray-100 center-plus-small">+</span>
             <i v-if="(addingNew && !picture)" class="fa fa-upload m-auto text-xl text-gray-100" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="md:w-1/4 flex hidden md:flex">
        <div class="rounded-full card-picture profile-overlay flex flex-wrap items-center text-center" :class="{ 'bg-teal-100': (addingNew && !picture) || imagePathError}" @click="$refs.file.click()">
          <img v-if="picture" class="rounded-full mr-4 profile-pic" :src="picture" @error="imageError()"/>
          <span v-if="picture && !imagePathError" class="m-auto text-xl text-gray-100 center-plus">+</span>
          <i v-if="(addingNew && !picture)" class="fa fa-upload m-auto text-xl text-gray-100" aria-hidden="true"></i>
        </div>
      </div>
      <div class="w-full md:w-3/4 mt-5 mx-6 md:m-0 md:mt-12 md:pl-2">
        <div class="w-full flex text-lg pb-5 border-b border-teal-200 hidden md:flex items-center mb-3">
          <div class="flex px-2 cursor-pointer" @click="back()">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
          </div>
          <div class="w-full px-2 text-left text-2xl"></div>
          <div class="flex px-2 text-center cursor-pointer text-sm md:text-base" @click="deleteContact()">Delete</div>
          <div class="flex px-2 text-center cursor-pointer" @click="deleteContact()">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </div>
        </div>
        <div class="w-full flex text-sm md:text-base flex-wrap pb-1 border-b border-teal-200 mb-3">
          <div class="w-full text-teal-300 md:py-1 md:px-1">
            <i class="fa fa-user-o pr-1" aria-hidden="true"></i> full name
          </div>
          <div class="w-full text-left py-3 md:py-5 md:px-1">
            <input placeholder="Full Name" class="input-row m-auto shadow-sm appearance-none border border-grey-400 rounded w-full py-3 md:py-6 px-3 pl-8 leading-tight focus:outline-none" id="search" type="text" v-model="fullName" />
          </div>
        </div>
        <div class="w-full flex text-sm md:text-base flex-wrap pb-1 border-b border-teal-200 mb-3">
          <div class="w-full text-teal-300 md:py-1 md:px-1">
            <i class="fa fa-envelope-o pr-1" aria-hidden="true"></i> email
          </div>
          <div class="w-full text-left py-3 md:py-5 md:px-1">
            <input placeholder="Email" class="input-row m-auto shadow-sm appearance-none border border-grey-400 rounded w-full py-3 md:py-6 px-3 pl-8 leading-tight focus:outline-none" id="search" type="text" v-model="email" />
          </div>
        </div>
        <div class="w-full flex text-sm md:text-base flex-wrap mb-3">
          <div class="w-full text-teal-300 md:py-1 md:px-1">
            <i class="fa fa-phone pr-1" aria-hidden="true"></i> numbers
          </div>
          <div class="w-full flex flex-wrap" v-for="(item,index) in numbers" v-bind:key="item.id">
            <div class="w-full md:w-auto text-left py-3 md:py-5 md:px-1">
              <input placeholder="Number" class="input-row shadow-sm appearance-none border border-grey-400 rounded w-full py-3 md:py-6 px-3 pl-8 leading-tight focus:outline-none" id="search" type="text" :value="item.value" :key="index" @change="change($event.target.value, index, 'value')" />
            </div>
            <div class="flex-1 md:w-auto text-left pb-3 pr-3 md:py-5 md:px-1">
              <input placeholder="Type" class="shadow-sm appearance-none border border-grey-400 rounded w-full py-3 md:py-6 px-3 pl-8 leading-tight focus:outline-none" id="search" type="text" :value="item.name" :key="index" @change="change($event.target.value, index, 'name')" />
            </div>
            <div class="w-2/12 text-left pb-3 md:py-5 md:px-1 flex items-stretch content-center" @click="deleteNumber(item)">
              <button class="bg-white hover:bg-gray-100 border border-gray-300 rounded-full h-12 w-12 flex items-center justify-center self-center">x</button>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-3/4 md:ml-auto flex flex-wrap items-center mb-5 mx-6 md:m-0 md:mt-12 md:pl-2">
        <div class="w-auto text-left p-2 pb-5 text-teal-300">
          <button @click="addNumber()" class="bg-white hover:bg-gray-100 border border-teal-300 rounded-full h-12 w-12 flex items-center justify-center self-center">+</button>
        </div>
        <div @click="addNumber()" class="flex-1 text-left text-teal-300">Add number</div>
      </div>
      <div class="w-full md:w-3/4 md:ml-auto flex flex-wrap my-5 mx-6 md:m-0 md:mt-12 md:pl-2">
        <div class="w-1/2 text-left p-2 pt-5">
          <button class="bg-gray-400 hover:bg-gray-500 text-gray-100 font-normal text-base py-2 px-12 rounded-full" @click="cancel()">Cancel</button>
        </div>
        <div class="w-1/2 text-right p-2 pt-5">
          <button class="bg-teal-200 hover:bg-teal-300 text-gray-100 font-normal text-base py-2 px-12 rounded-full" @click="save()">Save</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Form',
  data () {
    return {
      imagePathError: false
    }
  },
  computed: {
    fullName: {
      get () {
        return this.$store.getters.tempContact.fullName
      },
      set (value) {
        this.$store.dispatch('updateTempContact', { key: 'fullName', value: value })
      }
    },
    email: {
      get () {
        return this.$store.getters.tempContact.email
      },
      set (value) {
        this.$store.dispatch('updateTempContact', { key: 'email', value: value })
      }
    },
    numbers: {
      get () {
        return this.$store.getters.tempContact.numbers
      }
    },
    picture: {
      get () {
        return this.$store.getters.tempContact.picture
      }
    },
    addingNew: {
      get () {
        return this.$store.getters.adding
      }
    }
  },
  methods: {
    back () {
      this.$router.push({ name: 'Home' })
    },
    deleteNumber (item) {
      this.$store.dispatch('deleteNumber', item)
    },
    save () {
      if (this.imagePathError) {
        this.$store.dispatch('setMessage', 'Profile picture needs to be from /static/pictures/')
        return
      }
      if (!this.fullName) {
        this.$store.dispatch('setMessage', 'Full name is required to save contact!')
        return
      }
      this.$store.dispatch('saveContact')
      this.$store.dispatch('setMessage', 'Contact is saved!')
      setTimeout(() => { this.back() }, 800)
    },
    cancel () {
      this.$store.dispatch('cancel')
      this.$store.dispatch('setMessage', 'Contact is not saved!')
      setTimeout(() => { this.back() }, 800)
    },
    addNumber () {
      this.$store.dispatch('addNumber')
    },
    deleteContact () {
      this.$store.dispatch('setModal', {title: 'Delete', desc: 'Are you sure you want to delete this contact?', type: 'delete'})
      this.$store.dispatch('setMessage', false)
    },
    change (value, index, type) {
      this.$store.dispatch('updateTempContactNumber', { value: value, index: index, type: type })
    },
    uploadImage (item) {
      this.imagePathError = false
      if (item.target.files.length) {
        this.$store.dispatch('updateTempContact', { key: 'picture', value: '/static/pictures/' + item.target.files[0].name })
      }
    },
    imageError () {
      this.imagePathError = true
      this.$store.dispatch('setMessage', 'Profile picture needs to be from /static/pictures/')
    }
  }
}
</script>
<style scoped>

</style>
