<template>
  <nav class="header flex items-center justify-between flex-wrap bg-teal-200 p-3">
    <div class="w-full flex text-center">
      <img src="../../static/Typeqast.svg" class="logo">
    </div>
  </nav>
</template>
<script>
export default {
  name: 'Header',
  data () {
    return {
      msg: 'Welcome'
    }
  },
  methods: {
  }
}
</script>
