<template>
  <div class="home w-full text-gray-400 font-medium text-sm md:text-lg">
    <div class="flex flex-wrap p-5 mx-6 md:m-6 md:mx-24 border-b border-teal-300">
      <div class="w-1/2 text-right pr-8 cursor-pointer" @click="setAll(true)" v-bind:class="{'text-teal-300': all}"> All contacts </div>
      <div class="w-1/2 text-left border-l pl-8 cursor-pointer" @click="setAll(false)" v-bind:class="{'text-teal-300': !all}"> My favourites </div>
    </div>
    <form class="px-8 pt-6 pb-8 mb-4 md:mt-10">
      <div class="max-w-xs m-auto">
        <span class="search-icon">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
        <input class="shadow-2xl appearance-none border border-grey-400 rounded w-full py-2 px-3 pl-8 leading-tight focus:outline-none" id="search" type="text" v-model="search">
      </div>
    </form>
    <div class="flex flex-wrap mb-4 item-row">
      <div class="w-full sm:w-1/2 md:hidden">
        <div class="w-full lg:max-w-full lg:flex">
          <div class="border border-dashed border-teal-300 text-teal-300 mx-2 my-1 py-3 px-1 flex items-center text-center cursor-pointer" @click="addContact()">
            <div class="w-1/6 text-center">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
            <div class="w-5/6 text-left"> Add new </div>
          </div>
        </div>
      </div>
      <div class="w-1/4 hidden md:block">
        <div class="w-full h-full flex">
          <div class="w-full border border-dashed border-teal-300 text-teal-300 mx-3 my-3 p-12 flex flex-wrap items-center text-center cursor-pointer" @click="addContact()">
            <div class="w-full text-center">
              <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
            <div class="w-full text-center mt-2"> Add new </div>
          </div>
        </div>
      </div>
      <div class="w-1/4 hidden md:block overflow-auto bg-smoke-dark flex animated fadeIn cursor-pointer item" v-for="item in contacts" v-bind:key="item.id + '-smallContact'">
        <div class="w-full h-full flex">
          <div class="w-full border border-gray-300 hover:border-teal-300 mx-3 my-3 px-4 py-3 flex flex-wrap text-center items-center" v-bind:class="{'selected-item': item.id==selected.id}" @click="viewContact(item)">
            <div class="w-4/6 text-left hover:text-teal-300" @click.stop="favouriteContact(item)">
              <i class="fa" v-bind:class="{ 'fa-heart-o': !item.favourite, 'fa-heart': item.favourite}" aria-hidden="true"></i>
            </div>
            <div class="flex-1 text-right hover:text-teal-300 toolbar-item" @click.stop="editContact()">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>
            <div class="flex-1 text-right hover:text-teal-300 toolbar-item" @click.stop="deleteContact()">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </div>
            <div class="w-full "> <img class="w-16 h-16 rounded-full m-auto card-picture" :src="item.picture || '../../static/user.png'"></div>
            <div class="w-full p-2"> {{item.fullName}} </div>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-1/2 md:hidden cursor-pointer item" v-for="item in contacts" v-bind:key="item.id">
        <div class="w-full lg:max-w-full lg:flex">
          <div class="border border-gray-300 hover:border-teal-300 mx-2 my-1 py-1 px-2 flex text-center items-center" v-bind:class="{'selected-item': item.id==selected.id}" @click="viewContact(item)">
            <div class="w-1/6 "> <img class="w-10 h-10 rounded-full mr-4 card-picture" :src="item.picture || '../../static/user.png'"></div>
            <div class="w-3/6 "> {{item.fullName}} </div>
            <div class="flex-1 hover:text-teal-300" @click.stop="favouriteContact(item)">
              <i class="fa" :class="{ 'fa-heart-o': !item.favourite, 'fa-heart': item.favourite}" aria-hidden="true"></i>
            </div>
            <div class="flex-1 hover:text-teal-300 toolbar-item" @click.stop="editContact()">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>
            <div class="flex-1 hover:text-teal-300 toolbar-item" @click.stop="deleteContact()">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'underscore'
export default {
  name: 'Home',
  data () {
    return {
      search: '',
      all: true
    }
  },
  created () {
    this.$store.dispatch('fetchContacts')
  },
  computed: {
    contacts: {
      get () {
        var self = this
        return _.filter(this.$store.getters.contacts, function (value) {
          if (!self.all) return value.favourite && (value.fullName.toLowerCase().includes(self.search.toLowerCase()) || value.email.toLowerCase().includes(self.search.toLowerCase()) || _.find(value.numbers, function (num) { return num.value.includes(self.search) || num.name.toLowerCase().includes(self.search.toLowerCase()) }))
          return value.fullName.toLowerCase().includes(self.search.toLowerCase()) || value.email.toLowerCase().includes(self.search.toLowerCase()) || _.find(value.numbers, function (num) { return num.value.includes(self.search) || num.name.toLowerCase().includes(self.search.toLowerCase()) })
        })
      }
    },
    selected: {
      get () {
        return this.$store.getters.contact
      }
    }
  },
  methods: {
    addContact () {
      this.$store.dispatch('addingContact')
      this.$router.push({name: 'Form'})
    },
    viewContact (item) {
      if (item.id === this.selected.id) {
        this.$router.push({name: 'Details'})
      } else {
        this.$store.dispatch('setContact', item)
      }
    },
    editContact (item) {
      this.$store.dispatch('editingContact')
      this.$router.push({name: 'Form'})
    },
    deleteContact (item) {
      this.$store.dispatch('setModal', {title: 'Delete', desc: 'Are you sure you want to delete this contact?', type: 'delete'})
      this.$store.dispatch('setMessage', false)
    },
    favouriteContact (item) {
      this.$store.dispatch('setContact', item)
      this.$store.dispatch('favouriteContact')
    },
    setAll (value) {
      this.all = value
    },
    cancel () {
      this.$store.dispatch('setModal', false)
    },
    confirm () {
      this.$store.dispatch('deleteContact')
      this.$store.dispatch('setModal', false)
      this.$store.dispatch('setMessage', ' Contact deleted!')
    }
  }
}
</script>
