<template>
  <div class="messageComponent">
    <transition name="fadeMessage">
    <div class="flex message" role="alert" v-if="message">
      <i class="fa fa-envelope-open-o pr-5 pt-1" aria-hidden="true"></i>
      <p>{{message}}</p>
    </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'Message',
  data () {
    return {
    }
  },
  created () {
  },
  computed: {
    message: {
      get () {
        return this.$store.getters.message
      }
    }
  }
}
</script>
<style scoped>
</style>
