<template>
  <div class="modalComponent">
    <transition name="fade">
      <div class="modal" v-if="modal">
        <div class="alert flex flex-wrap pb-5">
          <div class="w-full rounded-t p-5 text-left border-b">{{modal.title}}</div>
          <div class="w-full font-normal p-5 text-center">
            <p>{{modal.desc}}</p>
          </div>
          <div class="w-full md:w-1/2 text-center p-2 pt-5">
            <button
              class="bg-gray-400 hover:bg-gray-500 text-gray-100 font-normal text-base py-2 px-12 rounded-full"
              @click="cancel()"
            >No</button>
          </div>
          <div class="w-full md:w-1/2 text-center p-2 pt-5">
            <button
              class="bg-teal-200 hover:bg-teal-300 text-gray-100 font-normal text-base py-2 px-12 rounded-full"
              @click="confirm()"
            >Yes</button>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'Modal',
  data () {
    return {
    }
  },
  created () {
  },
  computed: {
    modal: {
      get () {
        return this.$store.getters.modal
      }
    }
  },
  methods: {
    cancel () {
      this.$store.dispatch('cancel')
    },
    confirm () {
      this.$store.dispatch('confirm')
      if (this.$router.history.current.name !== 'Home') {
        this.$router.push({ name: 'Home' })
      }
    }
  }
}
</script>
<style scoped>
</style>
