.fadeMessage-enter-active, .fadeMessage-leave-active {
    transition: opacity .5s;
}
.fadeMessage-enter, .fadeMessage-leave-to {
    opacity: 0;
}

.message {
    background: rgba($message, 0.9);
    color: $lightmessage;
    padding: 25px;
    width: 250px;
    position:fixed;
    z-index:1;

}