.modal {
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background: rgba(black, 0.5);
    z-index:1;
    .alert {
        max-width: 500px;
        margin: auto;
        top: 20%;
        background: white;
        position: relative;
        z-index: 1;
        border-radius: 5px;
        @media (max-width: 560px) {
            margin:5%;
        }
    }
}
