    ::-webkit-input-placeholder {
    color: $midgrey !important;
    }

    :-ms-input-placeholder {
    color: $midgrey !important;
    }

    ::placeholder {
    color: $midgrey !important;
    }
    
    .card-picture {
        display: block;
        background: #E6E7ED;
        border: 2px solid $lightgrey;
        object-fit: cover;
    }
    
    .search-icon {
        position: absolute;
        position: absolute;
        margin-top: 6px;
        margin-left: 10px;
    }
    
    .item-row {
        max-width: 1300px;
        margin: auto;
    }
    .item {
        animation: fadein 0.25s ease-in alternate;
    }
    .selected-item{
        border-color: $green !important;
        animation: fadein 0.25s ease-in alternate;
        .toolbar-item {
            visibility: visible;
            animation: fadein 0.25s ease-in alternate;
        }
    }

    .toolbar-item{
        visibility: hidden;
    }

    .fadein {
        animation: fadein 0.25s ease-in alternate;
    }    
    .fadeout {
        animation: fadeout 0.25s ease-in alternate;
    }

    .fade-enter-active, .fade-leave-active {
        transition: fadeout .5s;
    }
    .fade-enter, .fade-leave-to {
        opacity: 0;
    }

    .input-row {
        width:330px !important;
        @media (max-width: 767px) {
            width: 100% !important;
        }
    }

    .form{
        max-width: 900px; 
        margin:auto;
        @media (max-width: 767px) {
            max-width: 500px;
        }
    }
    .profile-pic{
        width: 195px !important;
        height: 195px !important;
        background: $lightgreen;
        object-fit:cover;
        opacity: 0.6;
    }
    .profile-pic-small{
        width: 130px !important;
        height: 130px !important;
        background: $lightgreen;
        object-fit:cover;
        opacity: 0.6;
    }

    .profile-overlay {
        width: 200px !important;
        height: 200px !important;
        background:black;
        cursor: pointer;
    }

    .profile-overlay-small {
        width: 130px !important;
        height: 130px !important;
        background: black;
        cursor:pointer;
    }

    .center-plus-small{
        margin: auto;
        top: -75px;
        position: relative;
    }
    .center-plus{
        margin: auto;
        top: -110px;
        position: relative;

    }