$lightgreen: #86c9ce;
$green: #51b1ba;
$darkgreen: #34a4b0;
$lightestgrey: #eaeded;
$lightgrey: #f1f3f3;
$midgrey: #dadada;
$grey: #bfc7c6;

$message: #38a4ce;
$lightmessage: white;
@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes appear {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 0.9; }
    100% { opacity: 0; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}