<template>
  <div class="app" id="app">
    <div class="flex">
      <div class="w-full">
        <header-component></header-component>
        <modal-component></modal-component>
        <message-component></message-component>
      </div>
    </div>
    <div class="flex">
      <div class="w-full">
        <router-view/>
      </div>
    </div>
    <div class="flex">
      <div class="w-full">
        <footer-component></footer-component>
      </div>
    </div>
  </div>
</template>

<script>
import HeaderComponent from './components/Header'
import MessageComponent from './components/Message'
import ModalComponent from './components/Modal'
export default {
  name: 'App',
  components: {
    HeaderComponent,
    MessageComponent,
    ModalComponent
  }
}
</script>
